/ikiwiki.setup
/Makefile
Makefile.old
blib/*
/cover_db
doc/.ikiwiki/*
html/*
ikiwiki.out
ikiwiki-transition.out
ikiwiki-calendar.out
ikiwiki-comment.out
pm_to_blib
/MYMETA.json
/MYMETA.yml
*.man
/po/cover_db
/po/html/
po/po2wiki_stamp
/po/underlays/.ikiwiki
po/underlays/*/*.mdwn
po/underlays/basewiki/*/*.mdwn
po/underlays/basewiki/*/*/*.mdwn
po/underlays/directives/ikiwiki/directive/*.mdwn
po/underlays_copy_stamp
underlays/locale
/t/tmp/
/t/manual/*/git/
/t/manual/*/html/
