/*
 * goldtype theme for ikiwiki
 */

.pageheader {
	background-repeat: no-repeat;
	background-color: #f2d98d;
	padding: 0;
	padding-right: 1em;
	margin-bottom: 2em;
}

html, body {
	background-color: #f2d98d;
}

#content a:hover, #enclosure a:hover, #comments a:hover, .sidebar a:hover,
#content a:visited:hover, #enclosure a:visited:hover, #comments a:visited:hover,
.sidebar a:visited:hover {
    color: red;
}
#content a:visited, #enclosure a:visited, #comments a:visited,
.sidebar a:visited {
    color: #37485e;
}
