/* actiontabs theme for ikiwiki
 *
 * by svend
 */

a {
	text-decoration: none;
	color: #005a9c;
}

a:hover {
	text-decoration: underline;
}


hr {
	border-style: none;
	background-color: #999;
	height: 1px;
}

code, pre {
	background: #eee;
}

pre {
	padding: .5em;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: black;
	background: white;
}

.pageheader {
	margin: 0;
	padding: 1em 2em;
	position: relative;
	overflow: hidden;
	background: #eee;
	border-color: #999;
	border-style: none none solid none;
	border-width: 1px;
}

.pageheader .header {
	float: left;
	font-size: 120%;
}

div.header, header.header {
	font-weight: normal;
}

.title {
	display: block;
	margin-top: .2em;
	font: 140% sans-serif;
}

#searchform {
	position: absolute;
	top: 0.5em;
	right: 2em;
}

.pageheader .actions {
	position: absolute;
	bottom: 0;
	right: 2em;
	width: 100%;
	text-align: right;
	padding: 2px;
}

#content, #enclosure, #comments, #footer {
	margin: 1em 2em;
}

#pageinfo {
	border-color: #999;
}

.inlinepage {
	margin: .4em 0;
	padding: .4em 0;
	border-style: none;
	border-top: 1px solid #aaa;
}

.inlineheader {
	font-size: 120%;
}

h1 { font: 120% sans-serif }
h2 { font: bold 100% sans-serif }
h3, h4, h5, h6 { font: bold 80% sans-serif }

/* Smaller headings for inline pages */
.inlinepage h1 { font-size: 110% }
.inlinepage h2 { font-size: 100% }
.inlinepage h3 { font-size: 100% }

.pageheader .actions ul {
	border-style: none
}

.actions ul {
	padding: 0;
	border-style: none;
}

.actions ul li a {
	text-decoration: none;
}

.pageheader .actions ul li {
	margin: 0;
	padding: .1em .5em 0 .5em;
	background: white;
	border-color: #999;
	border-style: solid solid none solid;
	border-width: 1px;
}

div.recentchanges {
	border-style: none;
}

.pagecloud {
	width: auto;
}

.sidebar {
        border-bottom: 0;
	border-right: 0;
	border-top: 0;
	margin-top: 0.5em;
	padding: 0 0 0 2ex;
	border-color: #999;
}

.pageheader .trails {
	/* allow space for the action tabs */
	margin-bottom: 2em;
}

@media (max-width: 600px) {
	#content, #enclosure, #comments, #footer {
		margin: 0.5em;
	}
	.pageheader .actions ul li {
		padding: .1em .2em 0 .2em;
		font-size: 0.8em;
	}
}
