<TMPL_IF HTML5><!DOCTYPE html>
<html>
<TMPL_ELSE><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
</TMPL_IF>
<head>
<TMPL_IF NAME="FORCEBASEURL">
<base href="<TMPL_VAR FORCEBASEURL>" />
<TMPL_ELSE>
<base href="<TMPL_VAR BASEURL>" />
</TMPL_IF>
<TMPL_IF HTML5><meta charset="utf-8" /><TMPL_ELSE><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></TMPL_IF>
<title><TMPL_VAR TITLE></title>
<TMPL_IF NAME="FAVICON">
<link rel="icon" href="<TMPL_VAR BASEURL><TMPL_VAR FAVICON>" type="image/x-icon" />
</TMPL_IF>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
<link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
</head>
<body>

<TMPL_IF HTML5><section class="pageheader"><TMPL_ELSE><div class="pageheader"></TMPL_IF>
<TMPL_IF HTML5><header class="header"><TMPL_ELSE><div class="header"></TMPL_IF>
<span>
<TMPL_VAR INDEXLINK>/
<span class="title">
<TMPL_VAR TITLE>
</span>
</span>
<TMPL_IF HTML5></header><TMPL_ELSE></div></TMPL_IF>
<TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>

<TMPL_IF HTML5><section id="content"><TMPL_ELSE><div id="content"></TMPL_IF>
<TMPL_VAR PAGEBODY>
<TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>

<TMPL_IF HTML5><footer id="footer" class="pagefooter"><TMPL_ELSE><div id="footer" class="pagefooter"></TMPL_IF>
<!-- from <TMPL_VAR WIKINAME> -->
<TMPL_IF HTML5></footer><TMPL_ELSE></div></TMPL_IF>

</body>
</html>
