<pre>
<TMPL_VAR patch_contents>
</pre>
<TMPL_VAR FORM-START>
<div>
 <TMPL_VAR FIELD-DO>
 <TMPL_VAR FIELD-SID>
</div>
<div class="revert buttons">
 <TMPL_VAR form-submit>
 <TMPL_VAR form-cancel>
</div>
<TMPL_VAR FORM-END>
